body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.central {
  width: auto;
}
.login-img {
  height: 30px;
}
.list-group-item {
  border-top: none;
}
span.capitalize {
  text-transform: capitalize;
}
.login-form, .login-dropdown {
  width: 100%;
  text-align: center;
}
.card-content {
  margin: auto;
  
}
h3.card-title {
  color: #00BFA5;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.7em;

}
.img-players {
  width: 50%;
}
.user-avatar {
  background-color: #00BFA5;
  width: 60%;
  margin: auto;
}
.question-content {
  margin: auto;
  font-size: 1em;
}
.unanswered-content h3, .answered-content h3 {
  text-align: center;
  font-size: 1.3em;
}


/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  
  h3.card-title {
    font-size: 2.3em;
  }
  .unanswered-content h3, .answered-content h3 {
    text-align: left;
    
  }
}
  

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .central {
    width: 80%;
  }
  .user-avatar {
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h3.card-title {
    font-size: 2.7em;
  }
  .central {
    width: 60%;
  }
  
}
  

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



