body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-img {
  height: 30px;
}
.list-group-item {
  border-top: none;
}
span.capitalize {
  text-transform: capitalize;
}
.login-form, .login-dropdown {
  width: 100%;
  text-align: center;
}
.card-content {
  width: 70%;
  margin: auto;
}




